.color1 {#67be9b};
.color2 {#95d0b8};
.color3 {#fcfcd7};
.color4 {#f1db42};
.color5 {#ee3f57};

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: "Noto Sans JP", sans-serif;



    position: sticky;
    top: 0;
    left: 0;

    z-index: 1000;


}

header {
    background-color: #67be9b;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ul-header {
    display: flex;
    gap: 50px;


}

.ul-header li {
    list-style: none;
    font-size: 1.3rem;

}


.ul-header a {
    text-decoration: none;
    color: black;

}

.ul-header a:hover {
    color: rgb(109, 107, 107);
}

.fa-earth-americas {
    font-size: 2rem;
}

.apr {
    padding: 12rem 5rem;
    background-color: #95d0b8;
    display: flex;
    justify-content: space-evenly;
    align-content: center;


}



.busca {
    padding: 3rem;
    background-color: #eee4a4;
}

.psq {
    display: flex;
    justify-content: space-evenly;
    width: 1.3rem;
    height: 2rem;

}


.sessao01 {
    background: linear-gradient(178deg, rgba(30, 40, 66, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(14, 25, 232, 1) 100%);
    background-image: url(imagens/Dubai.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;


}

.text p {
    color: rgb(109, 107, 107);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2em;
    justify-content: start;


}

.busca div {
    width: 7rem;
    height: 3px;


}


.sessao02 {
    padding: 15rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}


.sessao02 img {
    width: 15rem;
    height: 15rem;


}

.sessao02 div {
    width: 15rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 20px #67be9b;
    border-radius: 10px;

}

.sessao02 div:hover {
    color: rgb(85, 84, 84);
}

.dstn p,
h2 {
    text-align: center;
    flex-direction: column;
    font-size: 1.5em;


}


.sessao03 {
    background-image: url(imagens/Torre.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.torre {
    display: flex;
    justify-content: space-evenly;
}

footer {
    padding: 2rem 1rem;
    background-color: #67be9b;
    display: flex;
    justify-content: space-evenly;
}

.ul-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ul-footer a {
    text-decoration: none;
    color: black;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.img-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sociais {
    padding: 2rem;
    display: flex;
    gap: 10px;
}

.sociais i {
    color:black;
    font-size: 2rem;
    
}


@media (max-width: 768px) {
    .fa-earth-americas {
        width: 3rem;
    }

    .ul-list {
        display: none;
    }

    .hamburger {
        display: flex;
        padding: 0.3rem;
        background: transparent;
        color: white;
        font-size: 1.5rem;
    }

    footer {
        flex-direction: column;
        gap: 40px;
    }

    .ul-footer {
        text-align: center;
    }
}

@media (min-width: 299px) {
    .fa-earth-americas {
        width: 1rem;
    }

    .ul-header {
        display: flex;

    }

    .ul-list {
        display: none;    
    }

    .sessao02 {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .torre {
        flex-direction: column;
    }

    footer {
        text-align: center;

    }

    .ul-footer {
        text-align: center;
    }
}