.color1 { #67be9b };
.color2 { #95d0b8 };
.color3 { #fcfcd7 };
.color4 { #f1db42 };
.color5 { #f04158 };

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: "Noto Sans JP", sans-serif;

}

header {
    background-color:#67be9b;
    padding: 5rem 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;

}

.apr {
    padding: 10rem 5rem;
    background-color: #95d0b8;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}
 .apr div {
    width: 15rem;
    height: 10rem;
    
 }

 .sesso01 {
    background-image: url(imagens/Terra.jpg) linear-gradient (180deg,rgba(252, 252, 215, 1) 50%, rgba(167, 219, 187, 1) 100%);
 }


   


